.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  margin-block: 98px;
  width: var(--blok-width);
  padding-block: var(--header-padding-block);
  background-color: var(--blok-background-color);
  border: var(--element-border);
  font-family: var(--accent-font), fantasy;
}

.header-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header-title {
  font-size: var(--accent-header-title-size);
}

.header-text {
  font-size: var(--accent-header-text-size);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  inline-size: var(--blok-width);
}

.card {
  background-color: var(--blok-background-color);
  border: var(--element-border);
}

.card-title {
  padding: 4px 10px;
  font-size: var(--main-text-size);
  font-family: var(--maain-font), sans-serif;
  font-variation-settings: 'wght' var(--main-title-weight);
  box-sizing: border-box;
  border-block: var(--element-border);
}

.card-image {
  width: var(--blok-width);
  aspect-ratio: 1 / 1;
  display: block;
  object-fit: cover;
  object-position: calc(100% + 12px) center;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 98px;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), fantasy;
  font-size: var(--accent-text-size);
  opacity: 0.5;
  text-shadow: 1px  1px 0 #FFFFFF80, -1px -1px 0 #FFFFFF80, 1px -1px 0 #FFFFFF80, -1px  1px 0 #FFFFFF80;
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 2px #fff) or (-webkit-text-stroke: 2px #fff)) {
  .overlay {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card-text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 25px 15px;
  font-size: var(--main-text-size);
  border-block: var(--element-border);
}

.card-text {
  font-family: var(--maain-font), sans-serif;
  line-height: 1.3125rem;
  font-variation-settings: 'wght' var(--main-text-weight);
}

.card-button-container {
  display: flex;
  align-self: flex-end;
}

.card__icon-button {
   width: auto;
   background-color: transparent;
   border: 2px solid #fff;
   transition: border 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid #000;
}

.button-common {
  width: auto;
  border: var(--element-border);
  font-family: var(--accent-font), fantasy;
  font-size: var(--accent-text-size);
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  background-color: #fff;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.button__text {
  position: relative;
  z-index: 2;
  color: #fff;
  mix-blend-mode: difference;
}

.button-common:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 #000;
}

.button-common::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.button-common:hover::after {
  transform: scaleX(1);
}

.saturate-05 {
  filter: saturate(0.5);
}

.saturate-3 {
  filter: saturate(3);
}
.sepia-hue-rotate-saturate-brightness-contrast {
  filter: sepia(0.6) hue-rotate(-25deg) saturate(2.5) brightness(0.85) contrast(1.2);
}

.invert-08 {
  filter: invert(0.8);
}

.sepia-saturate-hue-rotate {
  filter: sepia(1) saturate(1.2) hue-rotate(-10deg);
}

.blur-20 {
  filter: blur(20px);
}

.hue-rotate-brightness-saturate-sepia-blur {
  filter: hue-rotate(145deg) brightness(1.2) saturate(1.8) sepia(0.2) blur(2px);
}

.save-container {
  width: var(--blok-width);
  padding: 50px 34px;
  display: flex;
  justify-content: center;
}

.save-button-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 15px 12px;
}

.save-image {
  width: 28px;
  height: 28px;
  fill: #fff;
}

.dialog-save {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  width: max-content;
}

.dialog-save::backdrop {
  background-color: #000000BF;
}

.dialog-save-inform {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--accent-font), fantasy;
  font-size: var(--acent-text-size);
  margin-bottom: 30px;
  line-height: 150%;
  text-transform: uppercase;
  width: clamp(263px, 22vw, 293px);
}

.dialog-save-image {
  flex-shrink: 0;
}

.dialog-save-button {
  width: 100%;
  padding-block: 12.5px;
}

@media (width > 376px) {

  .save-button-container {
    flex-direction: row;
    padding: 15px 12px;
  }

  .save-image {
    width: 21px;
    height: 21px;
  }

  .dialog-save {
  padding: 30px 30px;
  }
}