.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: var(--background-gradient);
}

.header {
  margin-block: 98px;
  width: var(--blok-width);
  padding-block: var(--header-padding-block);
  background-color: var(--blok-background-color);
  border: var(--element-border);
  font-family: var(--accent-font), monospace;
}

.header-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header-title {
  font-size: var(--accent-header-title-size);
}

.header-text {
  font-size: var(--accent-header-text-size);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: var(--blok-width);
  background-color: var(--blok-background-color);
}

section {
  border: var(--element-border);
}

.card-title {
  padding: 4px 10px;
  font-size: var(--main-text-size);
  font-family: var(--maain-font), sans-serif;
  font-weight: var(--main-title-weight);
  border: var(--element-border);
  
}

.card-image-container {
  width: calc(var(--blok-width)-4px);
  aspect-ratio: 1 / 1;
  background-image: url(../images/conten-image-wagon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card-image-container::after {
  content: "</HTML>";
  position: absolute;
  width: 98px;
  height: 14px;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: var(--accent-text-size);
  opacity: 0.5;
  text-shadow: 1px  1px 0 #FFFFFF80, -1px -1px 0 #FFFFFF80, 1px -1px 0 #FFFFFF80, -1px  1px 0 #FFFFFF80;
}

@supports((text-stroke: 2px #fff) or (-webkit-text-stroke: 2px #fff)) {
  .card-image-container::after {
    -webkit-text-stroke: 2px #fff;
    text-stroke: 2px #fff;
    text-shadow: none;
    paint-order: stroke fill;
    mix-blend-mode: hard-light;
  }
}

.card-text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 25px 15px;
  font-size: var(--main-text-size);
  border: var(--element-border);
}

.card-text {
  font-family: var(--maain-font), sans-serif;
  font-weight: var(--main-text-weight);
  line-height: 1.3125rem;
   font-variation-settings: 'slnt' 0;
}

.card-button-container {
  display: flex;
  align-self: flex-end;
}

.card__icon-button {
   width: auto;
   background-color: transparent;
   border: 2px solid #fff;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid #000;
  transition: border 0.3s ease;
}

.button-common {
  width: auto;
  border: var(--element-border);
  font-family: var(--accent-font);
  font-size: var(--accent-text-size);
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  background-color: #fff;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.button__text {
  position: relative;
  z-index: 2;
  color: #fff;
  mix-blend-mode: difference;
}

.button-common:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 #000;
  transition: box-shadow 0.3s ease;
}

.button-common::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.button-common:hover::after {
  transform: scaleX(1);
}

.first-sprint-start {
  filter: saturate(0.5);
}

.first-sprint-end {
  filter: saturate(3);
}
.second-sprint-start {
   filter: sepia(0.6) hue-rotate(-25deg) saturate(2.5) brightness(0.85) contrast(1.2);
}

.second-sprint-end {
  filter: invert(0.8);
}

.third-sprint-start {
  filter: sepia(1) saturate(1.2) hue-rotate(-10deg);
}

.third-sprint-end, .fourth-sprint {
  background-image: none;
  position: relative;
  overflow: hidden;
}

.third-sprint-end::before, .fourth-sprint::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/conten-image-wagon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.third-sprint-end::before {
  filter: blur(20px);
}

.fourth-sprint::before {
  filter: hue-rotate(145deg) brightness(1.2) saturate(1.8) sepia(0.2) blur(2px);
}

.footer {
  width: var(--blok-width);
  background-color: var(--blok-background-color);
  padding: 50px 34px;
  display: flex;
  justify-content: center;
}

.footer-button-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 15px 12px;
}

.footer-image {
  width: 28px;
  height: 28px;
  fill: #fff;
}

.dialog-save {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  width: 341px;
}

.dialog-save::backdrop {
  background-color: #000000BF;;
}

.dialog-save-inform {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--accent-font);
  font-size: var(--acent-text-size);
  margin-bottom: 30px;
  line-height: 150%;
}

.dialog-save-image {
  flex-shrink: 0;
}

.dialog-save-button {
  width: 100%;
  padding-block: 12.5px;
}

@media (width > 376px) {
  .footer-button-container {
    flex-direction: row;
    padding: 15px 12px;
  }

  .footer-image {
    width: 21px;
    height: 21px;
  }
}